{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    {% for listing in listings %}
        <div class="listingItem">
            <a href="{% url 'listing' listing.id %}" class="listingTextLink">
                <diV class="imageFrame">
                    {% if listing.imageURL %}
                        <img src = {{listing.imageURL}} class="listingImage"/>
                    {% else %}
                        <img src = https://img.freepik.com/premium-vector/abstract-modern-ecommerce-logo-design-colorful-gradient-shopping-bag-logo-template_467913-995.jpg?w=740 class="listingImage"/>
                    {% endif %}
                </div>
                <span class = "listingText">
                    <div class="listingTitle">{{listing.title}}</div>
                    <div>{{listing.description}}</div>
                    <div>Starting Bid: {{listing.startingBid}}$</div>
                    <div>Category: {{listing.category.name}}</div>
                    <div>Last Bid Price: {{listing.currentBid}}</div>
                </span>
            </a>
        </div>
    {%empty%}
        <div class="message">There is no Listings right now</div>
    {% endfor %}
{% endblock %}